$color-primary: #36393f;
$color-primary-light: #3c3f45;
$color-primary-dark: #32353b;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-purple-light: #5865f2;
$color-purple: #4752c4;
$color-purple-dark: #3c44a5;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

//FONT SIZES

$default-font-size: 1.6rem;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
