.person-profile {
  margin: 5rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-grey-dark;
  @include respond(tab-port) {
    flex-direction: column;
  }

  &__container {
    padding: 0;
    flex: 2;
    padding: 0.5rem;
    min-height: 100%;

    &--img {
      flex: 1;
      display: inline-block;
      padding: 1rem;
      max-height: 20rem;

      @include respond(tab-port) {
        width: 100%;
      }
    }

    &--data {
      padding: 1rem;
      margin-left: 3rem;
      height: 100%;
      flex: 5;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include respond(tab-port) {
        margin-top: 3rem;
        margin-bottom: 1rem;
      }
    }
  }

  &__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    height: 18rem;
  }
}
